<div class="row">
  <div class="col-lg-4 offset-lg-4">
    <h1 class="title text-white text-center mt-4">BMI Calculator</h1>
    <div class="row">
      <div class="col-lg-6 mb-4">
        <app-sex icon="fa fa-mars icon" value="man"  (sexEmitter)="changeSex($event)" [sex]="sex"></app-sex>
      </div>
      <div class="col-lg-6 mb-4">
       <app-sex icon="fa fa-venus icon" value="woman" (sexEmitter)="changeSex($event)" [sex]="sex"></app-sex>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mb-4">
        <app-range [value]="heigth"></app-range>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mb-4">
        <app-number [value]='weight' title="weight"></app-number>
      </div>
      <div class="col-lg-6 mb-4">
        <app-number [value]='age' title="age"></app-number>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mb-4">
        <button type="button" (click)="calculatorBMI()"  name="calculator" class="btn btn-primary btn-lg btn-color">Calculator</button>
      </div>
    </div>
  </div>
</div>
